.header-intelie {
    padding: 2rem 1rem;
    background: #38b6ab;
    width: 100%;

}

.button-intelie {
    margin-left: 15px;
}

.content-display {
  
    display: flex;

}

@media (max-width: 1000px) 
{
  .content-display 
   {
    display: block;
   }
}
